<form #bioForm="ngForm" (submit)="bioForm.form.valid && onSaveBio()">
  <mat-card>
    <mat-card-title>Add Chuck bio</mat-card-title>
    <mat-card-content class="container">
      <mat-form-field>
        <input matInput placeholder="Fullname" [(ngModel)]="bio.fullName" #fullName="ngModel" name="fullName" required maxlength="30" appVerifyName="Chuck Norris">
        <mat-error *ngIf="fullName.invalid">{{getErrorMessage(fullName)}}</mat-error>

      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="dob" placeholder="Date of birth"  #dob="ngModel" [(ngModel)]="bio.dob" name="dob">
        <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
        <mat-datepicker #dob></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Nationality" #nationality="ngModel" [(ngModel)]="bio.nationality" name="nationality" required></textarea>
        <mat-error *ngIf="nationality.invalid">{{getErrorMessage(nationality)}}</mat-error>

      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Beste movie" multiple [(ngModel)]="bio.movies" name="movies">
          <mat-option *ngFor="let movie of availableMovies" [value]="movie">{{ movie }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/view']">Back</button>
      <button mat-raised-button color="primary" type="submit">Save bio</button>

    </mat-card-actions>
  </mat-card>
</form>