.container{
  max-width: 400px;
  margin:auto;
}

.example-header-image {
  background-image: url('https://assets.chucknorris.host/img/avatar/chuck-norris.png');
  background-size: cover;
}
.comment{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
