<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Chuck Norris</mat-card-title>
    <mat-card-subtitle>Dragon breath</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="http://images02.military.com/sites/default/files/styles/full/public/media/veteran-jobs/content-images/2016/03/chucknorris.jpg" alt="Photo of Chuck Norris">
  <mat-card-content>
    <p>
      Chuck Norris can text using his walkie talkie and without batteries.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
